#study-body {
  background: #fafafa;
  padding: 150px 0;
  h2, h3 {
     font-weight: 100;
     font-size: 48px;
     color: #494949;
   }

  &.coming-soon {
    text-align: center;
    h2 {
      margin-bottom: 20px;
    }
    img {
      border-radius: 3px;
    }
  }
}

#case-studies {
  margin-bottom: 650px;
}

@media screen and (max-width: 768px) {
  #case-studies {
    margin-bottom: 0;
  }
  #study-body.coming-soon img {
    width: 300px;
  }
}