#footer {
  padding: 30px;
  background: #212121;
  color: #BDBDBD;
  text-align: center;

  p {
    margin: 0 0 5px 0;
  }

  .social-icon {
    color: white;
    width: 20px;
    margin: 0px 5px 3px 5px;
  }
}