#our-future {
  background: #383838;
  color: white;
  padding: 200px 0 50px 0;

  h2 {
    font-weight: 100;
    font-size: 58px;
  }

  h3 {
    font-weight: 300;
    font-size: 17px;
    line-height: 19px;
  }


  h2, h3 {
    text-align: center;
    margin: 0;
  }

  .btn {
    margin: 40px auto 0 auto;
    text-align: center;

    &.blue-grad {
      background-color: #8EC5FC;
      background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }

  .md-form {
    margin-top: 20px;
  }
}