$expanded-height: 310px;
$expanded-header-height: 125px;
$height: 250px;
$expanded-width: 500px;
$width: 250px;

#services {
  padding: 100px 0;
  background: #fafafa;
  h2 {
    font-size: 58px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 30px;
  }

  .items {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $expanded-height;

    .item {
      margin: 0 30px;
      background: white;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      color: white;
      border-radius: 8px;
      transition: all 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
      position: relative;
      z-index: initial;
      height: $height;

      .item-header {
        display: flex;
        transition: all 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
      }

      .item-header {
        width: $width;
        height: $height;
      }

      .item-body {
        position: absolute;
        transition: all 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
        left: 0;
        right: 0;
        padding: 20px 10px 10px 10px;
        background: white;
        color: rgba(0,0,0,0.81);
        bottom: 0;
      }

      i {
        font-size: 90px;
        transform: translateY(40px);
        transition: all 0.4s cubic-bezier(0.4, 0.0, 0.2, 1);
      }

      h3 {
        font-weight: 900;
        font-size: 30px;
        margin: 11px 0;
        text-align: center;
      }

      a, h3 {
        opacity: 0;
        transition: opacity 0.4s;
      }

      a {
        font-size: 12px;
      }

      &:hover {
        i {
          transform: translateY(0);
        }

        h3, a {
          opacity: 1;
        }
      }

      &.expanded {
        height: $expanded-height;

        .item-header {
          width: $expanded-width;
          height: $expanded-header-height;
        }

        i {
          transform: translateY(40px)!important;
          font-size: 45px;
        }
        h3, a {
          opacity: 0 !important;
        }
      }

      &.responsive .item-header{
        background-color: #A9C9FF;
        background-image: linear-gradient(-30deg, #A9C9FF 0%, #FFBBEC 100%);

      }
      &.spa .item-header{
        background-color: #FF9A8B;
        background-image: linear-gradient(-30deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
      }
      &.hybrid .item-header {
        background-color: #FAACA8;
        background-image: linear-gradient(30deg, #FAACA8 0%, #DDD6F3 100%);

      }
    }
  }
}