doctype html
html
    head
        title= title
        meta(name="description" content="I build awesome front end solutions. I focus on delivering Single Page Applications with amazing User Experiences. I put my heart and soul into my work and use coding best practices to deliver fully functioning and future-proof solutions.")
        meta(name="keywords" content="HTML,CSS,HTML,JavaScript,Angular,Frontend,Front,End,Developer,Web,Website,Nodejs,Node,")
        meta(name="author" content="Aaron Phillips")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
        link(rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32")
        link(rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16")
        block head_end

    body#about
        block content

        block body_end