header
    nav
        .left
            a(href="/") AP
        .right
            a.about.waves-effect.waves-light(href="/about.html") About
            a.blog.waves-effect.waves-light(href="https://medium.com/@webdev_aaron") Blog
            a.contact.waves-effect.waves-light(href="#our-future") Contact

    .title
        block title
        block subTitle