#about-content
    .container
        section#started
            .row
                .content.col-md-8
                    h2 Where It Started
                    p In the stressful times of my A-Levels I was in search of something which challenged me and remained interesting no matter how many hours I put in. I'd grown bored of learning Biology, Mathematics, and Physics - frequently returning home with headaches from boredom and overworking. I had a growing thought that there must be something better suited to me out there.
                .img.col-md-4
                    img(src="/img/something-more.jpg" alt="Aaron sitting on his skateboard contemplating life").z-depth-1-half
        section#more
            .row
                .img.col-md-4
                    img(src="/img/working.jpg" alt="Aaron working on his laptop outdoors on a bench").z-depth-1-half
                .content.col-md-8
                    h2 The Search For Something More
                    p On a mission to find something more rewarding, I came across Khan Academy and started the Javascript development course, merely thinking it would be a great mention in my personal statement in my application to study Mathematics at university.
        section#light-bult
            .row
                .col-md-4
                    h2 The Light-Bulb Moment
                .content.col-md-8
                    p Having enjoyed JS so much I began enrolling in multiple Udemy courses, from full-stack to UX design. I realised that I never grew tired, never felt overworked, and couldn't wait to get home and continue building these new skills. I quickly fell in love with front end development, scrapped my plans for university, and embarked on searching for my first Web Developer role.
        section#now
            .row
                .col-md-6.offset-md-3
                    h2 The Now
                    p Since planting that seed I've overcome far more obstacles that I could imagine, developed tenfold as a human, and thoroughly enjoyed every moment along the way. The great oak it has now become continues to grow with every website I build, as well as an increase in my passion and motivation for the subject.
        section#future
            .row
                h3 Now, Let’s Talk About Our Future…