section#case-studies
    h2 Case Studies
    .items
        a(href="/case-studies/harmoly.html")
            .item.harmoly.waves-effect.waves-light
                h3 Harmoly
        a(href="/case-studies/roll-it-super.html")
            .item.rollit.waves-effect.waves-light
                h3 Roll-it
        a(href="/case-studies/workbook.html")
            .item.workbook.waves-effect.waves-light
                h3 Workbook