section#footer
    p "The problem is we think we have time." - Buddha
    .social-icons
        a(href="https://facebook.com/aaronwebdev" target="_blank")
            img(src="/img/facebook.svg" alt="Facebook icon").social-icon
        a(href="https://twitter.com/webdev_aaron" target="_blank")
            img(src="/img/twitter.svg" alt="Twitter icon").social-icon
        a(href="https://instagram.com/webdev_aaron" target="_blank")
            img(src="/img/instagram.svg" alt="Instagram icon").social-icon
        a(href="https://medium.com/@webdev_aaron" target="_blank")
            img(src="/img/medium.svg" alt="Medium icon").social-icon
    div
        small.github View this repo on
            a(href="https://github.com/AaronBP/material-portfolio" target="_blank")  GitHub
    div
        small Planted and Nurtured by Aaron Phillips 🌱
