section#our-future
    .container
        .row
            .col
                h2 Our Future
                h3 This could be the part where our paths merge.
                    br
                    | Tell me about your project.
                form
                    .md-form
                        input(type="text" id="name" class="form-control")
                        label(for="name") Name
                    .md-form
                        input(type="email" id="email" class="form-control")
                        label(for="email") Email
                    .md-form
                        textarea#message.form-control.md-textarea(type='text', rows='1')
                        label(for='message') Message
                    button.btn.btn-rounded.waves-effect.waves-light.btn-lg.blue-grad SEND
                        //i.material-icons send