section#services
    h2 Services
    .items
        .item.responsive.waves-effect.waves-light
            .item-header
                i.material-icons phonelink
                h3 Responsive
                a Learn more
            .item-body
                h4 Responsive
                p Beautiful websites just like this, tailored to all devices.
                    br
                    | I've got over 2 years of experience creating websites with HTML, CSS, and JavaScript. Using tools
                    | like jQuery, Bootstrap, Pug, and SCSS, I'll create you the website of your dreams.
        .item.spa.waves-effect.waves-light
            .item-header
                i.material-icons code
                h3 Single Page Apps
                a Learn more
            .item-body
                h4 SPAs
                p Using the latest version of Angular, and using beautiful Material Design principles I'll create you
                    | a component dense web application which your users will love.
                    | For an example of SPAs I've created, check out
                    a(href="/case-studies/harmoly.html")  Harmoly
                    | , or
                    a(href="/case-studies/roll-it-super.html")  Roll-it Super.
        .item.hybrid.waves-effect.waves-light
            .item-header
                i.material-icons android
                h3 Hybrid Apps
                a Learn more
            .item-body
                h4 Hybrid Apps
                p Usings Ionic framework I'll create you a fully featured app. Ready to deploy to the App Store,
                    | Google Play (or even the windows one!), and even make use of native phone features.
                    | For an example of a Hybrid App I have created, check out
                    a(href="/case-studies/workbook.html")  Workbook