section#services
    h2 Services
    .items
        .item.responsive.waves-effect.waves-light
            .item-header
                i.material-icons phonelink
                h3 Responsive
                a Learn more
            .item-body
                h4 Responsive
                p Lorem ipsum dolor sit amet, vim cu quodsi facilisis. At meliore aliquando qui. Quod phaedrum maluisset ea duo. Eum in brute dicat persequeris, vim feugiat commune disputando ex, utamur verterem definitionem mea te.
        .item.spa.waves-effect.waves-light
            .item-header
                i.material-icons code
                h3 Single Page Apps
                a Learn more
            .item-body
                h4 Single Page Web Applications
                p Lorem ipsum dolor sit amet, vim cu quodsi facilisis. At meliore aliquando qui. Quod phaedrum maluisset ea duo. Eum in brute dicat persequeris, vim feugiat commune disputando ex, utamur verterem definitionem mea te.
        .item.hybrid.waves-effect.waves-light
            .item-header
                i.material-icons android
                h3 Hybrid Apps
                a Learn more
            .item-body
                h4 Hybrid Apps
                p Lorem ipsum dolor sit amet, vim cu quodsi facilisis. At meliore aliquando qui. Quod phaedrum maluisset ea duo. Eum in brute dicat persequeris, vim feugiat commune disputando ex, utamur verterem definitionem mea te.