section#summary
    .hello
        div.image
        .speech-bubble
            h1.speech Hey there!
            span.speech-arrow
    p I build beautiful front end solutions. By focusing on friendly & effective client interaction I deliver high quality, scalable work.
