section#testimonials
    .container
        .row
            .col
                #carousel-example-1.carousel.no-flex.testimonial-carousel.slide.carousel-fade(data-ride='carousel' data-interval='false')
                    .carousel-inner(role='listbox')
                        .carousel-item.active
                            .testimonial
                                p
                                    i.material-icons.rotate format_quote
                                    |  Aaron did a fantastic job delivering a fully functional small web app using Angular on Google Firebase. By asking good questions upfront, he was able to fully capture the needs. Aaron delivered high quality work, under short deadlines. I enjoyed working with Aaron and will definitely work with him in the future.
                        .carousel-item
                            .testimonial
                                p
                                    i.material-icons.rotate format_quote
                                    |  Aaron is a trusted and reliable developer who always delivers. He's an absolute asset to any team and gets on with both the work and the team really well. I would not hesitate to both work with him again and recommend him to anyone.
                        .carousel-item
                            .testimonial
                                p
                                    i.material-icons.rotate format_quote
                                    |  I'm happy to have finally found a serious developer for my company's website. It is very easy to cooperate with Aaron, he is professional and able to understand his client's needs. Can't wait to start the new project together.
                    a.carousel-item-prev.left.carousel-control(href='#carousel-example-1' role='button' data-slide='prev')
                        span.icon-prev(aria-hidden='true') <
                        span.sr-only Previous
                    a.carousel-item-next.right.carousel-control(href='#carousel-example-1' role='button' data-slide='next')
                        span.icon-prev(aria-hidden='true') >
                        span.sr-only Next