extends _layouts/about

block head_end
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Megrim|Roboto:100,300,400,900")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/style.css")

block content
    nav.fixed-nav
        .left
            a(href="/") AP
        .right
            a.about.waves-effect.waves-dark(href="/about.html") About
            a.blog.waves-effect.waves-dark(href="https://medium.com/@webdev_aaron") Blog
            a.contact.waves-effect.waves-dark(href="#our-future") Contact

    include _partials/about/header
    include _partials/about/about-content
    .fix-footer
        include _partials/index/our-future
        include _partials/index/footer

block body_end
    script(type="text/javascript" src="/js/jquery-3.2.1.min.js")
    script(type="text/javascript" src="/js/popper.min.js")
    script(type="text/javascript" src="/js/bootstrap.min.js")
    script(type="text/javascript" src="/js/mdb.min.js")
    script(type="text/javascript" src="/js/script.js")