section#case-studies
    h2 Case Studies
    .items
        .item.harmoly
            h3 Harmoly
            a Learn more
        .item.rollit
            h3 Rollit
            a Learn more
        .item.workbook
            h3 Workbook
            a Learn more