section#case-studies
    h2 Case Studies
    .items
        .item.harmoly.waves-effect.waves-light
            h3 Harmoly
            a Learn more
        .item.rollit.waves-effect.waves-light
            h3 Rollit
            a Learn more
        .item.workbook.waves-effect.waves-light
            h3 Workbook
            a Learn more