header
    nav
        .left
            a AP
        .right
            a About
            a Blog
            a Contact

    .title
        h1 AARON PHILLIPS
        h2 Modern & responsive front end solutions