header
    nav
        .left
            a(href="/") AP
        .right
            a.about About
            a.blog Blog
            a.contact Contact

    .title
        h1 AARON PHILLIPS
        h2 Modern & responsive front end solutions