header
    nav
        .left
            a(href="/") AP
        .right
            a.about.waves-effect.waves-light(href="/about.html") About
            a.blog.waves-effect.waves-light(href="/blog.html") Blog
            a.contact.waves-effect.waves-light(href="#our-future") Contact

    .title
        h1 AARON PHILLIPS
        h2 Modern & responsive front end solutions