section#services
    h2 Services
    .items
        .item.responsive
            i.material-icons phonelink
            h3 Responsive
            a Learn more
        .item.spa
            i.material-icons code
            h3 Single Page Apps
            a Learn more
        .item.hybrid
            i.material-icons android
            h3 Hybrid Apps
            a Learn more