section#summary
    .hello
        div.image
        h1.speech Hey there!
    p I build beautiful front end solutions. By focusing on friendly & effective client interaction I deliver high quality, scalable work.
